babel
colorama
Jinja2
Markdown
mergedeep
mkdocs
mkdocs-glightbox
mkdocs-get-deps
mkdocs-material
mkdocs-material-extensions
mkdocs-minify-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-rss-plugin
paginate
Pygments
pymdown-extensions
regex
requests
