/* --------------- Custom Colors CSS --------------- */
/* Custom Primary Colors */
:root {
    --md-primary-fg-color: #0d448b;
    --md-accent-fg-color: #0B3D91;
    --md-accent-bg-color: #FFF8F6;
}
[data-md-color-scheme="default"] {
    --md-code-hl-variable-color: #6b6b6b;
    --md-code-hl-comment-color: #6b6b6b;
    --md-code-hl-operator-color: #6b6b6b;
}
/* Custom Dark Mode Colors */
[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #15203D;
    --md-typeset-a-color: #3586F8;
    --md-accent-fg-color: #0d448b;
    --md-accent-bg-color: #1D1D1D;
    --md-typeset-color: #EBECEF;
    --md-admonition-fg-color: #EBECEF;
    --md-code-hl-constant-color: #9a89ed;
    --md-code-hl-number-color: #0d448b;
    --md-code-bg-color: hsla(var(--md-hue),15%,10%,1);
}

.md-typeset h1 {
    color: var(--md-default-fg-color);
}

.md-typeset .md-button {
    color: var(--md-typeset-a-color);
    margin-bottom: 1rem;
}

.md-typeset .md-button--primary {
    color: var(--md-primary-bg-color);
}

.app-title {
    font-size: 1.15rem;
}

/* --------------- Header/Footer Custom CSS --------------- */
/* Adjusts color of footer */
.md-footer-meta {
    background-color: #15203D;
}
/* Change logo size */
.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 2.45rem;
}
/* Adjusts size of header title */
.md-header__title {
    font-size: .8rem;
}
/* Makes active tabs links bold */
.md-tabs__item--active .md-tabs__link {
    font-weight: bold;
}
/* Adjusts tab links to be completely white */
.md-tabs__link, .md-source__facts {
    opacity: 1;
}
/* Custom header/tabs */
.md-tabs__item {
    height: auto;
    padding: .6rem .6rem;
}
.md-tabs__link {
    margin-top: 0rem;
}
.sub-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sub-nav li {
    display: inline;
}
/* Adjust row margins in mobile view */
@media (max-width: 767px){
    .sub-nav .row {
        padding-top: 1.25rem !important;
        margin: 0 !important;
    }
}

/* --------------- Sidebar Custom CSS --------------- */
/* Add light border to right of primary (left) sidebar */
.md-sidebar--primary>.md-sidebar__scrollwrap {
    border-right: 1px solid var(--md-default-fg-color--lighter);
}
/* Make high-level section title in sidebar bigger */
li.md-nav__item.md-nav__item--active.md-nav__item--section.md-nav__item--nested {
    font-size: 1.25rem;
}


/* --------------- Banner CSS --------------- */
/* Banner settings */
.banner {
    width: 100%;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .25);
    height: 100%;
}
/* Adds padding to grid inside banner */
.banner .md-grid {
    padding: 5rem .6rem;
}
/* Adjusts banner text and button styling */
.banner-title {
    font-size: 2rem;
}
.banner-description {
    font-size: 1.25rem;
    width: 50%
}
.banner-buttons {
    display: flex !important;
    gap: 0.625rem;
    margin-top: 1.25rem;
}
/* Adjusts banner text and button in mobile view */
@media (max-width: 767px){
    .banner-description {
        width: 100%;
    }
    .banner-buttons {
        flex-wrap: wrap;
    }
}


/* --------------- Fullwidth CSS --------------- */
/* Makes section fullwidth */
.fullwidth-section {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}
/* Adds bg to fullwidth section */
.bg-fullwidth {
    height: 15.625rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    /* background-attachment: fixed; */
}
/* Featured content that goes on top of fullwidth section */
.featured-content {
    position: relative;
    margin-top: -5rem !important;
    margin-bottom: 1.875rem;
    background-color: var(--md-default-bg-color);
    border: .05rem solid var(--md-default-fg-color--lightest);
    border-radius: .1rem;
    display: block;
    padding: 3.125rem;
    transition: border .25s, box-shadow .25s;
}

/* --------------- Projects CSS --------------- */
.project-bg {
    height: auto;
    padding: 3.125rem;
    color: white;
    margin-bottom: 1.875rem;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .35);
}
.project-display {
    font-size: 2.75rem !important;
    font-weight: bold !important;
    margin: 0 !important;
    width: 70%;
    text-shadow: 2px 2px 6px #000000FF;
}
/* Adjusts display text for mobile view */
@media (max-width: 767px){
    .project-display {
        font-size: 1.75rem !important;
    }
}
.project-label {
    color: #0d448b;;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.65rem;
}
.project-info {
    display: flex !important;
    flex-wrap: wrap;
    margin-top: 1rem !important;
    background: #F5F5F5F2;
    width: 70%;
    margin-left: -5rem !important;
    padding: 2rem 2rem 2rem 5rem !important;
    margin-bottom: 1rem !important;
    color: black;
    font-size: 1rem;
}
/* Adjust project info width for mobile view */
@media (max-width: 767px){
    .project-info {
        width: 100% !important;
    }
}
ul.project-info {
    list-style-type: none;
}
.project-info li {
    flex-basis: 8.5rem;
    margin-left: 0 !important;
    margin-right: 1.25rem !important;
}


/* --------------- Layout CSS --------------- */
.row {
    display: flex;
    padding: 1.25rem 0;
    align-items: center;
}
/* Adjusts layout in desktop/tablet view */
@media (min-width: 767px){
    .column {
        padding: 1rem;
        width: 50%;
    }
    .section-list {
        padding: 1rem;
    }
    .section-list-image {
        width: 15%;
    }
    .section-list .column {
        padding: 1rem 1rem 1rem 0rem;
    }
    .section-list-image img {
        display: block;
        margin: auto !important;
    }
    .section-list-content {
        width: 100%;
    }
    .grid-5 {
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 1rem), 1fr)) !important;
    }
}
/* Adjusts layout in mobile view */
@media (max-width: 767px){
    .row-reverse{
        flex-direction: column-reverse !important;
        padding: 0;
    }
    .row {
        flex-direction: column;
        padding: 0;
        margin-bottom: 3.125rem;
    }
    .column {
        width: 100%;
        margin: 1rem 0rem;
    }
    .section {
        padding: 0 !important;
    }
    .section-list {
        margin-bottom: 3.125rem 0rem !important;
    }
    .alt-bg {
        margin-bottom: 3.125rem !important;
    }
}
/* Adds alternative background */
.alt-bg {
    background-color: var(--md-accent-bg-color);
    padding: 0 .8rem 1.5rem;
}
/* Transforms h2 into display text */
.display {
    font-size: 2rem !important;
    font-weight: bold !important;
    margin: 0 !important;
}
/* Adjusts display text for mobile view */
@media (max-width: 767px){
    .display {
        font-size: 1.75rem !important;
        font-weight: bold !important;
        margin: 0 !important;
    }
}
/* Adds margin for sections */
.section {
    padding: 0rem 1rem 1rem 1rem;
}
/* Removes padding from 25/75 special list */
.section-list>.row {
    padding: 0;
}

/* --------------- Cards Custom CSS --------------- */
/* Adjust border color for grid cards */
.md-typeset .grid.cards>ul>li {
    border: .05rem solid var(--md-default-fg-color--lighter);
}
.card-title {
    font-size: 1.15em;
}
.md-typeset hr {
    border-bottom: .05rem solid var(--md-default-fg-color--lighter);
}

/* --------------- Event CSS --------------- */
/* Styling for event card */
.events-card {
    display: flex !important;
    gap: 16px;
    border: .05rem solid var(--md-default-fg-color--lightest);
    border-radius: .1rem;
    margin: 0;
    padding: .8rem;
    transition: border .25s, box-shadow .25s;
}
/* Adds shadow on event card hover */
.events-card:hover {
    border-color: #0000;
    box-shadow: var(--md-shadow-z2);
}
/* Sets event image width */
.event-image {
    width: 50%;
}
/* Sets event content width */
.event-content {
    width: 100%;
}
/* Removes top margin from event tile */
.event-title {
    margin-top: 0 !important;
}
/* Styling for event date */
.event-date {
    font-weight: bold;
    font-size: 24px;
}
/* Styling for event location */
.event-location {
    font-weight: 600;
}
/* Displays event category as table */
.event-category-container {
    display: table;
}
/* Tutorial Event Category Styling */
.event-category-tutorial {
    background-color: var(--md-default-fg-color--lightest);
    color: var(--md-typeset-color);
    display: inline-block;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    font-weight: bold;
}
/* Conference Event Cateogry Styling */
.event-category-conf {
    background-color: var(--md-default-fg-color--lightest);
    color: var(--md-typeset-color);
    display: inline-block;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    font-weight: bold;
}


/* --------------- Slideshow CSS --------------- */
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25rem;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  position: absolute;
  bottom: 6px;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, .60);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 0.75rem;
  padding: 0.5rem 0.75rem;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 1rem;
  width: 1rem;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 0.6875rem}
}